/*
 * Philip Ma
 * 12/6/16 (my 21st)
 * Comp 20 assignment 4
 * hw4.css
 * Styling for the assignment 4 security report web page.
 */

body {
	background-color: rgb(250, 250, 100);
	padding: 60px;
}

#header {
	text-align: center;
	font-family: "Lucida Sans Unicode";
	font-size: 48px;
}

#header, h4 {
	font-size: 24px;
}

h3 {
	font-family: Helvetica;
	font-size: 32px;
}
p, li {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	margin-bottom: 5px;
}

tt {
	margin-bottom: 10px;
}