/*
 * Philip Ma
 * yma03
 * Yichuan.ma@tufts.edu
 * COMP 20 Assignment 2
 * MBTA Red Line Map/Schedule closest to you.
 * style.css
 * Some styling for the page, needed for the Google Maps API.
 */

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

/* to make the map show up on the page. */
#map_canvas {
	height: 100%;
}
